@media screen and (max-width: 768px) {
  .wh {
    max-width: 70px !important;
    height: 70px !important;
    max-width: none !important;
  }

  .textHead {
    font-size: 16px !important;
  }

  .textBody {
    font-size: 12px !important;
  }

  .textFooter {
    font-size: 7px !important;
  }

  .setIcon {
    height: 7px !important;
    width: 7px !important;
    margin: 0px !important;
  }
}

@media screen and (min-width: 768px) {

  .wh {
    width: 130px !important;
    height: 130px !important;
    max-width: none !important;
  }

  .textHead {
    font-size: 17px !important;
  }

  .textBody {
    font-size: 13px !important;
  }

  .textFooter {
    font-size: 10px !important;
  }

  .setIcon {
    height: 10px !important;
    width: 10px !important;
    margin: 0px !important;
  }
}

.setPadding {
  padding: 10px !important;
}

.lineclamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
