@media screen and (max-width: 768px) {
  .wh {
    width: 100px !important;
    height: 100px !important;
    max-width: none !important;
  }

  .textHead {
    font-size: 15px !important;
  }

  .textBody {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 768px) {

  .wh {
    width: 130px !important;
    height: 130px !important;
    max-width: none !important;
  }

  .textHead {
    font-size: 20px !important;
  }

  .textBody {
    font-size: 15px !important;
  }
}

.twoLines{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.oneLines{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}