@media screen and (max-width: 768px){
  .wh{
      max-width: 70px !important;
      height: 70px !important;
      max-width: none !important;
  }
  .textHead{
    font-size: 15px !important;
  }
  .textBody{
    font-size: 10px !important;
  }
}
@media screen and (min-width: 768px){

  .wh{
      width: 130px !important;
      height: 130px !important;
      max-width: none !important;
  }
  .textHead{
    font-size: 20px !important;
  }
  .textBody{
    font-size: 15px !important;
  }
}