@media screen and (max-width: 768px){
    .wh{
        width: 60px !important;
        height: 60px !important;
    }
    .textHead{
      font-size: 15px !important;
    }
    .textBody{
      font-size: 10px !important;
    }
    .setIcon{
        height: 10px !important;
        width: 10px !important;
    }
  }
  @media screen and (min-width: 768px){
  
    .wh{
        width: 80px !important;
        height: 80px !important;
    }
    .setIcon{
        height: 20px !important;
        width: 20px !important;
    }
    .textHead{
      font-size: 20px !important;
    }
    .textBody{
      font-size: 15px !important;
    }
  }
  